.myPhoto {
  width: 480px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0% 4%;
}

.col1 {
  margin-left: 4%;
  margin-bottom: 4%;
  flex-basis: 40%;
  max-width: 600px;
}
.col2 {
  flex-basis: 40%;
}

.headings {
  width: 200px;
}
.content {
  font-size: 16px;
  font-family: poppins;
}

@media (max-width: 1250px) {
  .myPhoto {
    width: 360px;
  }
}

@media (max-width: 900px) {
  .myPhoto {
    width: 280px;
  }
  .row {
    margin: 0px 0px;
  }
  .content {
    font-size: 12px;
  }
  .headings {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 650px) {
  .row {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .headings {
    width: 100%;
  }
  .col1 {
    text-align: center;
    max-width: 440px;
  }
}
