.section-gallery {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 8%;
}
.gallery {
  width: 90%;
  column-count: 4;
  gap: 16px;
}
.gallery1 {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 2px;
}

.gheading {
  text-decoration-line: underline;
  text-underline-offset: 10px;
  font-size: 32px;
  margin-bottom: 56px;
}
.galleryclose {
  display: block;
}
.gheadingdiv {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.lightboxclose {
  position: fixed;
  top: 2%;
  right: 2%;
  display: block;
}
.pn {
  width: 32px;
  opacity: 0%;
  transition: opacity 0.4s ease;
}
.lightbox-overlay:hover .pn {
  opacity: 100%;
  transition: opacity 0.4s ease;
}
.lightboxprev {
  position: fixed;
  top: 44vh;
  left: 24px;
}
.lightboxnext {
  position: fixed;
  top: 44vh;
  right: 24px;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 650px) {
  .gallery {
    column-count: 2;
  }
  .gheading {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .galleryclose {
    width: 28px;
  }
}
