.pheading {
  margin: 72px 0px 0px 0px;
}

.portfolio-grid {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  padding: 64px 0px 32px 0px;
}
.portfolio-grid:active {
  cursor: grabbing;
}
.pb {
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  max-width: 264px;
  width: 64%;
  margin: 20px 0px;
  height: 56px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-btn:hover {
  background: rgba(42, 42, 42, 0.3);
  box-shadow: 4px 4px 15px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .pheading {
    font-size: 30px;
  }
  .portfolio-grid {
    gap: 32px;
    padding: 56px 0px 24px 0px;
  }
}

@media (max-width: 650px) {
  .portfolio-grid {
    flex-direction: column;
    justify-content: center;
  }
}
