* {
  color: #fff; /* make all text white by default */
  box-sizing: border-box;
}

body {
  /* Use the image from public/ */
  background-image: url("../public/background\ sample\ 1.jpg");
  background-attachment: fixed; /* keeps image fixed while scrolling (desktop) */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000; /* fallback color */
  margin: 0% 8%;
  font-family: "Poppins", Arial;
}

h2 {
  font-size: 40px;
  font-family: Arial;
}
